<!DOCTYPE html>
<html>

<head>
  <link type="text/css" rel="stylesheet" href="hello.css" />
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="vue.js"></script> -->
</head>

<body>
  <div id="app">
    <div class="content" v-bind:style="contentStyle">
      <div v-for="(n, index) in sources">
        <div class="title">{{n.name}}</div>

        <div v-for="(l, i) in n.list">
            <div v-if="l.subName">
                <div class="sub-title">{{l.subName}}</div>
                <div class="item">
                    <a v-for="item in l.list" :href="item.url" target="_blank">{{item.name}}</a>
                  </div>
            </div>
        </div>
        
        <div v-if="!n.list[0].subName" class="item">
            <a v-for="item in n.list" :href="item.url" target="_blank">{{item.name}}</a>
          </div>
      </div>
    </div>
  </div>
  <script src="hello.js"></script>
</body>

</html>